Feedback form (1).json
{
  "name": "Feedback form",
  "nodes": [
    {
      "parameters": {
        "formTitle": "User Feedback Form",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Full Name",
              "placeholder": "Type your name\n"
            },
            {
              "fieldLabel": "Email",
              "placeholder": "Enter your Email"
            },
            {
              "fieldLabel": "Contact info",
              "fieldType": "number",
              "placeholder": "Enter your Number"
            },
            {
              "fieldLabel": "Feedback",
              "placeholder": "type your feedback"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -80,
        -192
      ],
      "id": "efacd1c7-9d3b-4a4d-9bc5-13a204aa0949",
      "name": "On form submission",
      "webhookId": "b764537f-a404-4ebb-9513-abe8a97f055a"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Your role is to determine if the feedback filled by the customer is a complaint a compliment ,or a feature addition request.\nthe feedback is{{ $json.Feedback }}\n\nYour response should be only one from the below\n1) complain\n2) compliment\n3) Feature Addition Request",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        144,
        -64
      ],
      "id": "7a734b2d-b15d-47e9-b93a-edf22705bb10",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        224,
        160
      ],
      "id": "c9ffc63a-02bc-4a75-8478-2933bf6ae7a7",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "yWobF3TWtOJWWYOQ",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        496,
        -192
      ],
      "id": "32e2a41b-9393-4769-8071-287a710cf8ca",
      "name": "Merge"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "complain",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "75987217-2d21-4b1e-9079-628b1e428113"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e13d4d12-0344-41c0-bee7-348c82d93dae",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "compliment",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "1d7038f1-8651-4ed5-8a37-7f115c400feb",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "Feature Addition Request",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        720,
        -208
      ],
      "id": "f5977cf9-fac1-4ef9-aa70-c93b7f30cf3d",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appjc4HP8uAz1I701",
          "mode": "list",
          "cachedResultName": "feedback",
          "cachedResultUrl": "https://airtable.com/appjc4HP8uAz1I701"
        },
        "table": {
          "__rl": true,
          "value": "tblvSjfWeujegraxD",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appjc4HP8uAz1I701/tblvSjfWeujegraxD"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Full Name": "={{ $json['Full Name'] }}",
            "Email": "={{ $json.Email }}",
            "Contact info": "={{ $json['Contact info'] }}",
            "Feedback": "={{ $json.Feedback }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Assignee",
              "displayName": "Assignee",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Contact info",
              "displayName": "Contact info",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Feedback",
              "displayName": "Feedback",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        944,
        -384
      ],
      "id": "42b7f95e-b0ee-4ead-bd78-d7c3d04a0534",
      "name": "complain",
      "credentials": {
        "airtableTokenApi": {
          "id": "XXtu1ZaQbY0UOUcF",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appjc4HP8uAz1I701",
          "mode": "list",
          "cachedResultName": "feedback",
          "cachedResultUrl": "https://airtable.com/appjc4HP8uAz1I701"
        },
        "table": {
          "__rl": true,
          "value": "tblvSjfWeujegraxD",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appjc4HP8uAz1I701/tblvSjfWeujegraxD"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Full Name": "={{ $json['Full Name'] }}",
            "Email": "={{ $json.Email }}",
            "Contact info": "={{ $json['Contact info'] }}",
            "Feedback": "={{ $json.Feedback }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Assignee",
              "displayName": "Assignee",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Contact info",
              "displayName": "Contact info",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Feedback",
              "displayName": "Feedback",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        944,
        -192
      ],
      "id": "d512dd13-df6e-4215-bda9-59b57122932f",
      "name": "compliment",
      "credentials": {
        "airtableTokenApi": {
          "id": "XXtu1ZaQbY0UOUcF",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appjc4HP8uAz1I701",
          "mode": "list",
          "cachedResultName": "feedback",
          "cachedResultUrl": "https://airtable.com/appjc4HP8uAz1I701"
        },
        "table": {
          "__rl": true,
          "value": "tblvSjfWeujegraxD",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appjc4HP8uAz1I701/tblvSjfWeujegraxD"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Full Name": "={{ $json['Full Name'] }}",
            "Email": "={{ $json.Email }}",
            "Contact info": "={{ $json['Contact info'] }}",
            "Feedback": "={{ $json.Feedback }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Assignee",
              "displayName": "Assignee",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Contact info",
              "displayName": "Contact info",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Feedback",
              "displayName": "Feedback",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        944,
        0
      ],
      "id": "d0f24755-e699-4caf-b52b-493414e73e3f",
      "name": "feature Addition",
      "credentials": {
        "airtableTokenApi": {
          "id": "XXtu1ZaQbY0UOUcF",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AJMBRHHAB",
          "mode": "list",
          "cachedResultName": "complain"
        },
        "text": "={{ $('Switch').item.json['Full Name'] }}\n\n{{ $('Switch').item.json.Email }}\n\n{{ $('Switch').item.json.Feedback }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1168,
        -384
      ],
      "id": "1355c76b-e741-40b4-a294-aef6ebb1afb5",
      "name": "Send a message",
      "webhookId": "49955000-90b2-495a-be8d-8790fd19c7b1",
      "credentials": {
        "slackOAuth2Api": {
          "id": "QzUha3dytrpUvmjm",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AJMDYDE95",
          "mode": "list",
          "cachedResultName": "feature-addition"
        },
        "text": "={{ $json.fields.Feedback }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1168,
        0
      ],
      "id": "eb6a8864-1c1c-4dcc-bf51-86ef5ff04437",
      "name": "Send a message1",
      "webhookId": "5482ec3f-3003-4193-b2bb-e5fd2b030175",
      "credentials": {
        "slackOAuth2Api": {
          "id": "QzUha3dytrpUvmjm",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Switch').item.json.Email }}",
        "subject": "we have taken ur complain ",
        "message": "=heyy  {{ $('Merge').item.json['Full Name'] }}\nwe already taken your complain and our team is working on it and i'll update it in very short time of period..thank you",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1392,
        -384
      ],
      "id": "7557f087-a21c-412f-a1b6-e1060710c2a7",
      "name": "Send a message2",
      "webhookId": "10a7918c-bc04-433e-bfd1-8ab2555de387",
      "credentials": {
        "gmailOAuth2": {
          "id": "kVh0Q7RkolHT3u4F",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "complain",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "compliment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "feature Addition",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "complain": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "feature Addition": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message2": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f1dc2a7f-13c0-4877-8eb0-0b8284621db6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "07751202644604436da6a13319142630b00f31169bf223dfecf4c0ea0f7b4ece"
  },
  "id": "HIbyj7jcO33NMNhM",
  "tags": []
}